<section class="content">
  <div class="row">
    <section class="content">  
      <% @messages.each do |message|%>
        <div class="box box-success">
          <div class="user-block">
            <%= image_tag('avatar.png') %>
            <span class="username">
              <a href="#"><%= message.sender_name %></a>
            </span>
            <span class="time pull-right"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(message.created_at) %> ago</span>
          </div>
          <div class="box-header">
            <br />
            <h3 class="box-title"><%= message.title %></h3>
          </div>
          <div class="box-body">
            <br />
            <p><%= truncate(extract_text(message.content), length: 200) %> <%= link_to  "read more..", message_path(message) %></p>
          </div>
          <div class="box-footer">
            <div class="row bottom_mrgn">
            </div>
            <ul class="list-inline">
              <li class="pull-right">
              </li>
            </ul>
          </div>
        </div>
      <% end %>      
      <%= paginate @messages %>
    </section>
  </div>
</section>
